* {
    margin: 0; padding: 0;
}

html, body {
	height: 100%;
  overflow: hidden;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", Arial, sans-serif;
	background: #2c3647
}

.board {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.list-row {
	font-size: 36px;
	color: white;
	padding: 2%;
	
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.service-name {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.times {
	color: white
}

.metro-bullet {
    width: 10cqh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 5.5cqh;
    font-weight: bold;
    margin-right: 2cqh;
    display: flex;
    align-items: center;
	justify-content: center;
}
.RD {
  background: #BF0D3E;
  color: white;
}
.OR {
  background: #ED8B00;
  color: black;
}
.YL {
  background: #FFD100;
  color: black;
}
.GR {
  background: #00B140;
  color: white;
}
.BL {
  background: #009CDE;
  color: white;
}
.SV {
  background: #919D9D;
  color: black;
}