* {
    margin: 0; padding: 0;
}

html, body {
	height: 100%;
  overflow: hidden;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", Arial, sans-serif;
	background: #2c3647
}

.board {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.list-row {
	font-size: 36px;
	color: white;
	padding: 1.5%;
	
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid white;
}

.list-row:last-child {
  border-bottom: none;
}

.service-name {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.marc-logo {
  width: 90%;
}

.purple-line-logo {
  width: 80%;
}

.metro-logo {
  width: 10cqh;
  margin-right: 4cqh;
  filter: invert(100%);
}

.image-backer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25cqh;
  height: 10cqh;
  border-radius: 10% / 25%;
  margin-right: 3cqh;
}

.metro-bullet {
  width: 10cqh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: 5.5cqh;
  font-weight: bold;
  margin-right: 4cqh;
  display: flex;
  align-items: center;
	justify-content: center;
}
.RD {
  background: #BF0D3E;
  color: white;
}
.OR {
  background: #ED8B00;
  color: black;
}
.YL {
  background: #FFD100;
  color: black;
}
.GR {
  background: #00B140;
  color: white;
}
.BL {
  background: #009CDE;
  color: white;
}
.SV {
  background: #919D9D;
  color: black;
}
